In [4]:
import tensorflow as tf
import keras
import gensim
import sklearn
import nltk
import pandas_profiling

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('data/mbti_1.csv')

In [6]:
print(len(data))

8675

In [7]:
data.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

### 데이터 설명
This dataset contains over 8600 rows of data, on each row is a person's:

- Type (This persons 4 letter MBTI code/type)
- A section of each of the last 50 things they have posted (Each entry separated by "|||" (3 pipe characters))

게시글 컬럼만 별도로 저장한다.

In [8]:
text = data[['posts']]
text.head()

                                               posts
0  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  'I'm finding the lack of me in these posts ver...
2  'Good one  _____   https://www.youtube.com/wat...
3  'Dear INTP,   I enjoyed our conversation the o...
4  'You're fired.|||That's another silly misconce...

### 텍스트 전처리

1. 불용어 제거

In [ ]:
text['posts'] = text.apply(lambda row: nltk.word_tokenize(row['posts']), axis=1)

NLTK의 word_tokenize를 통해 단어 토큰화

In [ ]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
text['posts'] = text['posts'].apply(lambda x: [word for word in x if word not in (stop)])

In [ ]:
text.head()

2. 표제어 추출

In [ ]:
from nltk.stem import WordNetLemmatizer
text['posts'] = text['posts'].apply(lambda x: [WordNetLemmatizer().lemmatize(word, pos='v') for word in x])
print(text.head(5))

표제어 추출로 3인칭 단수 표현을 1인칭으로 바꾸고, 과거 현재형 동사를 현재형으로 바꾼다.

3. 길이가 짧은 단어 제거

In [ ]:
tokenized_doc = text['posts'].apply(lambda x: [word for word in x if len(word) > 3])
print(tokenized_doc[:5])

길이가 3이하인 단어에 대해서 제거

### TF-IDF 행렬 만들기